<div class="row">
  <div class="col-md-4">

      <form class="form-inline" (ngSubmit)="onSubmit()">
          <div class="form-group">
        <input style="margin: 1em" class="form-control" type="text" [(ngModel)]="quiz.category" placeholder="Category" required name="category" />
        <input style="margin: 1em" class="form-control" type="number" [(ngModel)]="quiz.difficulty" placeholder="Difficulty" required name="difficulty" />

        <button style="margin-left: 1em" class="btn btn-info" type="submit">Create Random Quiz</button>
      </div>
      </form>
  </div>
</div>