<app-quiz></app-quiz>
<button (click)="startQuiz();" [disabled]="questionsAnswered != undefined && questionsAnswered != null">Take Quiz!</button>
<button (click)="startRandomQuiz();" [disabled]="questionsAnswered != undefined && questionsAnswered != null">Generate Quiz!</button>

<h2 *ngIf="givenQuestion && questionsAnswered < 10">Quiz Question {{  questionsAnswered+1  }}</h2>
<div *ngIf="givenQuestion && givenQuestion.type === 'Multiple' && questionsAnswered < 10">
  {{givenQuestion.qstring}}
  <form name="my-quiz-form" #myForm="ngForm" (ngSubmit)="submittedAnswer();">
    <ol>
      <li *ngFor="let a of questionAnswers">
        <input type="radio" [(ngModel)]="selectedAnswer" [value]="a" name="quizAnswer">
        <label for="a.answer">{{a.answer}}</label>
      </li>
    </ol>
    <button type="submit">Submit Answer</button>
  </form>
</div>
<div *ngIf="givenQuestion && givenQuestion.type === 'Bool' && questionsAnswered < 10">
  {{givenQuestion.qstring}}
  <form name="my-quiz-form" (ngSubmit)="submittedAnswer(correctAnswer);">
    <ol>
      <li *ngFor="let a of questionAnswers">
          <input type="radio" [(ngModel)]="selectedAnswer" [value]="a" name="quizAnswer">
        <label for="a.answer">{{a.answer}}</label>
      </li>
    </ol>
    <button type="submit">Submit Answer</button>
  </form>
</div>
<div *ngIf="givenQuestion && givenQuestion.type === 'Fill' && questionsAnswered < 10">
  {{givenQuestion.qstring}}
  <form name="my-quiz-form" (ngSubmit)="submittedFillAnswer()">
      <input type="text" [(ngModel)]="selectedAnswerString" [value]="text" name="quizAnswer">
    <button type="submit">Submit Answer</button>
  </form>
</div>
<div *ngIf="questionsAnswered >= 10">
  <h2>You received {{numberOfCorrectAnswers}} / 10!</h2>
</div>