<button (click)="startQuiz();" [disabled]="questionsAnswered != undefined && questionsAnswered != null">Take Quiz!</button>

<h2 *ngIf="givenQuestion">Quiz Question {{  questionsAnswered+1  }}</h2>
<div *ngIf="givenQuestion && givenQuestion.type === 'Multiple'">
  {{givenQuestion.qstring}}
  <form name="my-quiz-form" (ngSubmit)="submittedAnswer();" [formGroup]="formGroup">
    <ol>
      <li *ngFor="let a of questionAnswers">
        <input type="radio" [(ngModel)]="selectedAnswer" [ngModelOptions]="{standalone: true}" [value]="a" name="quizAnswer">
        <label for="a.answer">{{a.answer}}</label>
      </li>
    </ol>
    <button type="submit">Submit Answer</button>
  </form>
</div>
<div *ngIf="givenQuestion && givenQuestion.type === 'Bool'">
  {{givenQuestion.qstring}}
  <form name="my-quiz-form" (ngSubmit)="submittedAnswer(correctAnswer);">
    <ol>
      <li *ngFor="let a of questionAnswers">
          <input type="radio" [(ngModel)]="selectedAnswer" [value]="a" name="quizAnswer">
        <label for="a.answer">{{a.answer}}</label>
      </li>
    </ol>
    <button type="submit">Submit Answer</button>
  </form>
</div>
<div *ngIf="givenQuestion && givenQuestion.type === 'Fill'">
  {{givenQuestion.qstring}}
  <form name="my-quiz-form" (ngSubmit)="submittedFillAnswer()">
      <input type="text" [(ngModel)]="selectedAnswerString" [value]="text" name="quizAnswer">
    <button type="submit">Submit Answer</button>
  </form>
</div>