<p>
  reviews works!
</p>
<p>{{account.username}}'s id is: {{account.userId}}</p>

<!-- view all reviews -->
<button (click)="onBARClick()">Show All Reviews</button>
<button (click)="onBURClick()">Show User Reviews</button>
<!-- <button (click)="onBQRClick()">Show Quiz Reviews</button> -->

<ul *ngIf="boolAllReviews === true">
  <li *ngFor="let r of allReviews">
    <p>user id: {{r.userId}}</p>
    <p>user quiz id: {{r.quizId}}</p>
    <p>user ratings: {{r.ratings}}</p>
  </li>
</ul>

<ul *ngIf="boolUserReviews === true">
  <li *ngFor="let ur of userReviews">
    <p>user id: {{ur.userId}}</p>
    <p>user quiz id: {{ur.quizId}}</p>
    <p>user ratings: {{ur.ratings}}</p>
  </li>
</ul>