<h3 class="slightMargin"><strong>{{account.username}}'s id is: {{account.userId}}</strong></h3>

<!-- view all reviews -->
<div class="slightMargin">
<div *ngIf="account.roles[0] === 'admin'">
  <button id="BAR-click" (click)="onBARClick()">Show All Reviews</button>
</div>
</div>

<button class="btn btn-info" style="margin-left: 1em" id="BUR-click" (click)="onBURClick()">{{showBUR}}</button>
<!-- <button (click)="onBQRClick()">Show Quiz Reviews</button> -->

<div class="form-group" style="margin: 1em">
  <form name="submit-review-form" (ngSubmit)="onSubmitReview()">
    <label class="slightMargin"> User Quiz Id:
      <input type="number" class="form-control" [(ngModel)]="userQuizIdInput" value="1" name="quizid-input" min="1" required>
    </label>
    <label class="slightMargin"> User Rating for Quiz:
      <input type="number" class="form-control" [(ngModel)]="userRatingNum" value="1" name="review-rating" min="1" max="10" required>
    </label>
    <button class="btn btn-primary" style="margin: 1em" type="submit">Submit Review</button>
  </form>
  <p *ngIf="validReviewInput === false">Invalid review submitions, ratings min from 1-10, and quiz id min is 1</p>
</div>

<!-- <div *ngIf="boolAllReviews === true && account.roles[0] === 'admin'"> -->
<div *ngIf="boolAllReviews === true && allReviews.length > 0" class="slightMargin">
  <p>Reviews Average Ratings: {{reviewsAverage}}</p>
  <p>Minimum Rating: {{reviewsMin}}</p>
  <p>Maximum Rating: {{reviewsMax}}</p>
  <ul>
    <li *ngFor="let r of allReviews">
      <p>user id: {{r.userId}}, quiz id: {{r.quizId}}, review rating: {{r.ratings}} </p>
    </li>
  </ul>
</div>

<div *ngIf="boolUserReviews === true && userReviews.length > 0" class="slightMargin">
  <p>Reviews Average Ratings: {{reviewsAverage}}</p>
  <p>Minimum Rating: {{reviewsMin}}</p>
  <p>Maximum Rating: {{reviewsMax}}</p>
  <ul>
    <li *ngFor="let r of userReviews">
      <p>user id: {{r.userId}}, quiz id: {{r.quizId}}, review rating: {{r.ratings}} </p>
    </li>
  </ul>
</div>

<div *ngIf="boolUserReviews === true && userReviews.length === 0">
  <p>You currently haven't made any reviews</p>
</div>
